*{
	margin:10px;
	padding:5px;
}

body{
	background-color:#aba000;
}

form{
	background-color:#ffdddd;
	border-radius:20px;
}
table{
	margin:auto;
	width:800px;
	padding:0px;
}

tr, td{
	width:0px;
	padding:0px;
}

table tr td:first-child{
	font-weight:bolder;
}
table tr:last-child {
	text-align:right;
}

tr{
	margin:5px;
}

input, select{
	border:1.5px solid black:
}